body {
   background: #FAF0E6;
}

.headline {
   text-transform: uppercase; 
   color: #c88c00;
}

input[type="text"] {
   border: 1px solid black;
   border-radius: 5px;
}

input[type="submit"] {
   background: #8B4513;
   border: 15px;
   border-radius: 10%;
}
